body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #282727;
    background-image: url('./sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #fff;
}

#game-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid #3d085e;
    background: #b662ea;
    overflow: hidden;
    border-radius: 30px;
}

.personaje {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url('./cat.png');
    background-size: cover;
    position: absolute;
}

.moneda {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: gold;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(255, 223, 0, 0.8);
}

