body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: #fff;
    font-family: 'Doto', sans-serif;
}

#score-container {
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: #b662ea;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Poiret';

}
#game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 50px;
    gap: 50px;
    
}

#score-container {
    flex: 1;
}

#music-toggle {
    flex-shrink: 0;
}

#game-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 10px solid;
    border-image: radial-gradient(circle, #711171d5, #630d726d) 1;
    background-image: url('./images/bg.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 30px;
}

.personaje {
    position: absolute;
    width: 100px;
    height: 70px;
    background-image: url('./images/red-cat.png');
    background-size: cover;
    position: absolute;
}

.moneda {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('./images/star.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    animation: pulsar 1.5s infinite;
}
/*Stars animation*/
@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/*Sound button*/
#music-toggle-btn {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Poiret';
    color: #fff;
}

#music-toggle-btn:hover {
    color: #b662ea;
}

/********Win*******/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.win-message {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
}

.win-message h2 {
    margin-bottom: 20px;
    color: #8f16cc;
    font-size: 24px;
}

#restart-btn {
    background-color: #8f16cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poiret';
    font-size: 18px;
}

#restart-btn:hover {
    background-color: #4a0e67;
}

/*Game Control Buttons*/
#game-controls {
    position: absolute;
    bottom: 20px;    
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;     
}

.control-btn {
  width: 50px;
  height: 50px;
  font-size: 24px;
  background-color: #30153e;
  color: rgb(255, 252, 252);
  border: solid 1px;
  border-color: #b662ea;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.control-btn:active {
  background-color: #495057;
}
